body {
	background-color: #efeee7;
	font-family: : "times new roman", "Georgia", "Times", Serif,;
	color: #333333;
	margin: 0;
	padding: 0
	font-size: 18px;
	line-height: 150%;
}


h1 {
	background-color: #333333;
	text-align: center;
	color: #eee;
	font-size: 28px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;

}

h2 {
	font-size: 24px;
	margin-left: 50px;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#main-bio {
	float: left;
	width: 70%;
}

#bio-image {
	float: left;
	width: 200px;
	height: 200px;
	margin-right: 50px;
	margin-left: 50px;

}

#contact-info {
	float: left;
	width: 30%;
}

a {
	color: #d21034;
}

ul {
	margin-top: 50px;
	float: left;
}